<html>
<head>
	<title>About</title>

<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style type="text/css">
	
	.responsive-img{
		padding-top: 2vw;
		padding-bottom: 2vw;
	}
</style>

</head>
<body>
<div class="container">

	<div class="divider"></div>
	  <div class="section">
	    <h5 class="white-text center text-lighten-1 pink">Cooking and Chef Color Palette</h5>
	    <h4 class="center orange-text text-darken-4">Signature dishes<h4>
	    <h5 class="white-text center text-lighten-1 black">Stuffed Raviolli!
	    	<i class="material-icons center red-text">favorite</i>
	    </h5>
	    <img src="static/images/raviolli.jpg" class="responsive-img">
	    <h5 class="white-text center text-lighten-1 black">Assorted Cones!
	    	<i class="material-icons center red-text">favorite</i>
	    </h5>
	    <img src="static/images/ice1.jpg" class="responsive-img">
	    <h5 class="white-text center text-lighten-1 black">Oreo Chocolate Bomb!
	    	<i class="material-icons center red-text">favorite</i>
	    </h5>
	    <img src="static/images/ice2.jpg" class="responsive-img">
	  </div>


	<div class="divider"></div>
	  <div class="section">
	    <h5 class="white-text center text-lighten-1 pink">People Opinions On Our Food</h5>

	    <h5 class="center orange-text text-darken-4">
		"This place is great! Awesome salads and the most adorable little pastry bites. Cute, colorful, relaxed atmosphere. Oh, and great tea selection".

		<p class="text-center indigo-text">- Adam, Chicago, IL</p>

		</h5>

	    <h5 class="center orange-text text-darken-4">"I have gone there twice and been impressed both times. Both times I got the Chicken Shawarma Pocket Combo. The chicken shawarma is fantastically garlicky and delicious. The tabouleh is very good, with lots of tender parsley and tomatoes. The hummus is good and so is the baba ghanouj. Servings are generous and prices are very fair for what you get. Denfinitely fresh food!"

	    <p class="text-center indigo-text">- Corey, Denver, CO</p>


	    </h5>

	    <h5 class="center orange-text text-darken-4">"The salads are amazing! Actually, everything on the menu is amazing. My family and I have been coming here almost once a week and have never been disappointed."

	    <p class="text-center indigo-text">- Amanda, MysticFalls, VA</p>


	    </h5>

	  </div>

</div>
</body>
</html>
